
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin fixCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin topCenter {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin bottomCenter {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// MEDIA QUERY MANAGER
/*
0 - 400px:      Phone
900 - 1200px:   Tablet
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab
- desktop
- big-desktop

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (min-width: 25em) {
      @content
    }
  ; //400px
  }
  @if $breakpoint == tab {
    @media only screen and (min-width: 48em) {
      @content
    }
  ; //768px
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: 75em) {
      @content
    }
  ; //1200px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content
    }
  ; //1800
  }
}
