$primary-color-dark: #282A32;
$primary-color: #30333D;
$primary-color-light: #555860;
$primary-text-color: #212121;
$secondary-text-color: #FFFFFF;
$warning-color: #E4C031;
$danger-color: #DE3445;
$sucess-color: #16A2B8;
$shopify-color: #95BF46;
$vaetas-color: #81bfe9;

$color-transparent: unquote('#00000000');
