$primary-color-dark: #282A32;
$primary-color: #30333D;
$primary-color-light: #4D4D4D;
$primary-text-color: #212121;
$secondary-text-color: rgba(255, 255, 255, 0.96);
$danger-color: #DE3445;
$sucess-color: #16A2B8;
$color-transparent: unquote('#00000000');
