@font-face {
    font-family: appleFont;
    src: url('./assets/fonts/SF-Pro-Display-Regular.otf');
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    margin: 0;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a, .link {
    text-decoration: none;
    color: #2c3e50;
}

#root {
    font-family: appleFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100%;
    margin: 0;
    font-size: 1em;
    line-height: 1.8;
    display: flex;
}
